.root {
  display: none;
  @media (max-width: 576px) {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 3%;
  }
}

.input {
  padding-left: 60px;
  font-size: 16px;
  padding: 4px 20px 4px 30px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 80%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
  color: rgba(255, 255, 255, 1);

  &:focus {
    transition: all 0.3s;

    outline: none;
    border: 0.1px solid #ed6c0250;
    width: 82%;
  }
  &::placeholder {
    text-align: center;
  }
}

.search__icon {
  color: aliceblue;
  position: absolute;
  opacity: 0.5;
  left: 4.5%;
  top: 7%;
}

.clear__icon {
  color: aliceblue;
  position: absolute;
  opacity: 0.5;
  right: 4.5%;
  top: 4%;
  cursor: pointer;
}
