.root {
  position: absolute;
  z-index: 1;
  max-width: 350px;
  max-height: 600px;
  overflow: auto;
  right: 0;
  top: 75px;
  background-color: rgba(255, 255, 255, 0.9);
  border-end-start-radius: 15px;
  font-family: 'Roboto';
  font-weight: 400;

  @media (max-width: 576px) {
    min-width: 100%;
    border-end-start-radius: 0;
  }
}

.list {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info {
  flex-grow: 1;
  text-align: center;
  padding: 10px;
}

.title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.price {
  font-size: 20px;
  font-weight: 700;
  color: crimson;
  margin-bottom: 10px;
}

.image {
  width: 100px;
  margin-right: 10px;
}
