.root {
  display: flex;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    transition: all 0.3s;
    transform: translateY(-2px);
    color: #ffe7d4;
  }
}

.title {
  @media (max-width: 576px) {
    font-size: 26px;
  }
}

.cart_icon {
  font-size: 26px;
}
