.root {
  margin: 0 auto;
  font-size: 18px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  background-color: #111;

  @media (orientation: portrait) and (max-width: 576px) {
    font-weight: 300;
  }

  @media (orientation: landscape) and (min-width: 576px) {
    font-size: 16px;
    font-weight: 300;
    padding: 15px;
    width: 200px;
  }
}
